@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f7fb;
  color: #333;
}

input,
button {
  font-family: inherit;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
